p {
    color: sandybrown;
    font-size: 24px;
}

.image-container {
    height: 240px;
    width: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    margin: 20px;
    
}
.image-container img {
    width: 100%;
    height: auto;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
}