header {
    background-color: crimson;
    color: ghostwhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

ul {
    display: flex;
    justify-content: right;
    flex-direction: row;
    list-style: none;
    width: 100%;
}


.navbar-container a,
.navbar-container a:link,
.navbar-container a:visited,
.navbar-container a:hover,
.navbar-container a:active {
    margin-right: 20px;
    color: white;
}
.navbar-container a:hover {
    text-decoration: none;
}